// $spacing_lrg: 40px;
// $spacing_med: 20px;
// $spacing_sml: 10px;


// Colours
$white: #ffffff;
$lightGrey: #f2f2f2;
$mediumGrey: #a7a7a7;
$darkGrey: #707070;
$bodyBlack: #373737;
$lightArcticBlue: #2c445a;
$arcticBlue: #142f47;
$millOrange: #ff893d;


// Font variables
$latofont: 'Lato', Helvetica, Arial, sans-serif;
$open_sansFont: 'Open Sans', 'Lato', Helvetica, Arial, sans-serif;
$mill_router: 'mill_router','Open Sans', 'Lato', Helvetica, Arial, sans-serif;


// $profileInfoBGColor: #e9ebed;
// $titleUnderline: #808080;
// $editBGColor: #566269;

// $lightColoredText: #bebebe;
// $lightGrey: #dadada;
// $profileBGGreyColor: #c5c5c5;
// $emeraldGreenColor: #00cfbb;
// $eventIconColor: #2b4756;
// $confirmedQuote: #73b300;
// $cancelledQuote: #df423d;